@import "tailwindcss";

@theme {
  --color-steelblue : '#4682b4';
  --color-lightblue: '#add8e6';
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", serif;
}